@tailwind base;
@tailwind components;
@tailwind utilities;

.action-btn {
  @apply aspect-square w-8 text-lg disabled:text-gray-500;
}
.action-row {
  @apply flex;
}

.fn-block {
  @apply aspect-square w-10 border-2 font-semibold flex justify-center items-center;
}

html, body, #root, :root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
